.login-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

h2 {
  margin-bottom: 8px;
  font-size: 24px;
}

p {
  margin-bottom: 20px;
  color: var(--ion-color-medium);
}

.login-button {
  margin-top: 20px;
}

.error-message {
  padding-top: 10px;
  font-size: 14px;
  color: var(--ion-color-danger);
}
